<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- External CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/flat-ui.min.css" rel="stylesheet">
    <link href="/static/css/code.css" rel="stylesheet">
    <link href="/static/css/mystyle.css" rel="stylesheet">
    {% block externalCSS %}{% endblock %}
    <!-- In-document CSS -->
    {% block inCSS %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {# 导入顶部导航条 #}
    {% include "body_header.html" %}
    <div class="container">
        <div class="row">
          {# 导入左侧边栏 #}
          {% include "sidebar.html" %}
          {# 导入右侧主内容区域 #}
          {% block content %}{% endblock %}
        </div>
    </div>
    {# 导入页脚部分 #}
    {% include "footer.html" %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/flat-ui.min.js"></script>
    {% block externalJS %}{% endblock %}
    {% block inJS %}{% endblock %}
  </body>
</html>
