<!-- 顶部导航条 -->
<nav class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Airblog&nbsp;+</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#fakelink">首页</a></li>
        <li><a href="{% url blog:articleList %}">博客</a></li>
        <li><a href="#fakelink">关于</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- 结束顶部导航条 -->
